h1{
    color:rgb(229, 89, 109)
}

body{
    background-color: darkgray;
}

section{
    color: rgb(229, 88, 109)
}

selection{color: rgb(229, 88, 109);}

aside{color: rgb(229, 88, 109);}

h1{color: rgb(229, 88, 109);}

h2{color: rgb(229, 88, 109);}

h3{color: rgb(229, 88, 109);}

h4{color: rgb(229, 88, 109);}

h5{color: rgb(229, 88, 109);}

h6{color: rgb(229, 88, 109);}
